# Secrets
.env
*.secret
**/.env

# Node
node_modules/

# Next.js build
.next/
out/

# Binaries / compiled
**/bin/

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store

# Logs
*.log
tsconfig.tsbuildinfo

